.main_div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
	color: white;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.header {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align: center;
	white-space: nowrap;
	-webkit-box-reflect: left 0px linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	user-select: none;
	height: 100%;
	color: white;
	font-size: 90px;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: opacity 500ms ease;
}

.information {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;

	transition: transform 500ms ease, opacity 500ms ease;
}

.main_paragraph {
	line-height: 30px;
	color: rgb(160, 160, 160);
	transition: opacity 500ms ease, transform 500ms ease;
}

.hide_only_opacity {
	opacity: 0;
}

.hide {
	transform: translateY(-20px);
	opacity: 0;
}

.secondary_header {
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	font-weight: 800;
	text-decoration: none;
	color: rgb(200, 200, 200);
	transition: opacity 500ms ease, transform 250ms ease;
}

.inner_background {
	position: absolute;
	left: 50px;
	top: 50px;
	width: calc(100vw - 100px);
	height: calc(100vh - 100px);
	margin: 0 auto;
}

@media (max-width: 768px) {
	.inner_background {
		width: 100%;
		height: 100%;
		margin: 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: auto;
		overflow-x: hidden;
	}

	.header {
		writing-mode: horizontal-tb;
		font-size: 2rem;
		width: 100%;
		transform: none;
		-webkit-box-reflect: unset;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		height: min-content;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid rgba(200, 200, 200, 0.2);
		backdrop-filter: blur(10px);
	}

	.main_div {
		margin-top: 75px;
		flex-direction: column;
		height: auto;
		justify-content: center;
		align-items: center;
	}

	.information {
		width: 90%;
		text-align: justify;
	}
}
