body {
	background-color: black;
	margin: 0;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	width: 100vw;
	height: 100vh;
}

.cipher {
	margin-top: 50px;
	transition: transform 1s ease, opacity 1s ease;
}

.wheels {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}

.wheel {
	position: absolute;
	border-radius: 100%;
	margin: 0 auto;
	user-select: none;
	transform: rotate(-6.2deg);
	z-index: 1;
	cursor: grab;
}

.wheel_transition {
	transition: transform 2500ms ease-out;
}

.wheel:active {
	cursor: grabbing;
}

.wheel:hover {
	filter: brightness(0) saturate(100%) invert(88%) sepia(15%) saturate(6093%) hue-rotate(315deg) brightness(104%) contrast(102%);
}

.wheel_svg {
	pointer-events: none;
}

#wheel_1 {
	width: 500px;
	height: 500px;
}

#wheel_2 {
	width: 380px;
	height: 380px;
	left: 60px;
	top: 60px;
}

#wheel_3 {
	width: 290px;
	height: 290px;
	left: 105px;
	top: 105px;
}

#wheel_4 {
	width: 220px;
	height: 220px;
	left: 140px;
	top: 140px;
}

#wheel_5 {
	width: 165px;
	height: 165px;
	left: 167px;
	top: 167px;
}

.cipher_div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 2;
}

.cipher_selector {
	width: 30px;
	height: 250px;
	backdrop-filter: brightness(500%);
	position: absolute;
	top: 0;
	left: calc(50% - 15px);
	transform: perspective(300px) rotateX(-50deg);
	z-index: 10;
}

.welcome {
	text-align: center;
	width: 100%;
	transition: transform 500ms ease, opacity 500ms ease;
}

.welcome p {
	font-size: 1.25rem;
	color: #ffa664;
}

.password {
	color: white;
}

.hide {
	transform: translateY(-20px);
	opacity: 0;
}

.inner_background {
	position: absolute;
	left: 50px;
	top: 50px;
	width: calc(100vw - 100px);
	height: calc(100vh - 100px);
	margin: 0 auto;
}

.container {
	cursor: pointer;
	display: flex;
	width: 100px;
	height: 100px;
	position: absolute;
	right: 20px;
	top: 0;
	z-index: 10;
}
svg {
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
	transform: rotate(90deg);
}
path {
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
	transform-origin: 36% 40%;
}
path:nth-child(2) {
	stroke-dasharray: 29 299;
}
path:nth-child(3) {
	transform-origin: 35% 63%;
}
path:nth-child(4) {
	stroke-dasharray: 29 299;
}
path:nth-child(5) {
	transform-origin: 61% 52%;
}
path:nth-child(6) {
	transform-origin: 62% 52%;
}
.active path:nth-child(1) {
	transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
	stroke-dasharray: 225 299;
	stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
	transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
	stroke-dasharray: 225 299;
	stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
	transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
	transform: translateX(9px) translateY(1px) rotate(45deg);
}
.hide_button {
	display: none;
}

.menu_div {
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
	z-index: 1;
	opacity: 0;
	transition: opacity 500ms ease, z-index 500ms ease;
}

.menu_div_active {
	z-index: 5;
	opacity: 1;
}

.menu_items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.menu_item {
	font-size: 75px;
	list-style: none;
	cursor: pointer;
	user-select: none;
	color: white;
	transition: color 400ms ease, transform 400ms ease;
	text-decoration: none;
}

.menu_item:hover {
	color: #ffa664;
	transform: scaleX(110%);
	font-weight: 900;
}

.hide_item {
	color: transparent;
	transform: translateX(-120%);
}

.about_me_div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
	color: white;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.header {
	writing-mode: vertical-lr;
	font-size: 100px;
	transform: rotate(180deg);
	text-align: center;
	white-space: nowrap;
	-webkit-box-reflect: left 0px linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	user-select: none;
}

.information {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

#c {
	margin: 0 auto;
	box-sizing: content-box;
}

.canvas_div {
	width: 500px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-self: center;
}

.about_me_paragraph {
	line-height: 30px;
}
