.red_button {
	border: 2px solid #631019;
	width: min-content;
	height: auto;
	padding: 10px 20px 10px 20px;
	background-color: transparent;
	color: grey;
	font-weight: 400;
	font-size: 1.25rem;

	transition: color 250ms ease, border-color 250ms ease, transform 500ms ease, opacity 500ms ease;
}

.red_button:hover {
	cursor: pointer;
	color: white;
	border-color: #cb2232;
}

.red_button:active {
	background-color: rgba(203, 34, 50, 0.3);
}
