#mouse_circle {
    position: absolute;
    background-color: transparent;
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    border: 2px solid #ce2233;
    border-radius: 50%;
    pointer-events: none;
	z-index: 20;
	transition: opacity 1s ease;

    filter: drop-shadow(5px 5px 10px red);
}

#mouse_dot {
    position: relative;
    background-color: #ce2233;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: -2px 0 0 -2px;
    pointer-events: none;
	z-index: 20;
	transition: opacity 1s ease;
}

@media (max-width: 768px) {
    #mouse_circle {
        display: none;
    }

    #mouse_dot {
        display: none;
    }
}